/* Overlay visibility */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  z-index: 9999;
  pointer-events: auto;
}

/* Modal box centered */
.modal {
  position: absolute;
  width: 560px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.modal svg {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
/* Modal content initially hidden */
.modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s ease;
  z-index: 1;
}

/* Animate on modal open */
.modal.animate .modal-inner {
  opacity: 1;
  transform: scale(1);
}

/* Line animation */
svg line {
  stroke-width: 2px;
  stroke: rgba(2, 162, 239, 1);
}

.modal.animate svg #svg_2,
.modal.animate svg #svg_3,
.modal.animate svg #svg_4,
.modal.animate svg #svg_5 {
  stroke-dasharray: 1680;
  stroke-dashoffset: 1680;
  animation: anim-dash 0.6s ease forwards;
}

@keyframes anim-dash {
  100% {
    stroke-dashoffset: 0;
  }
}